

#numberUser1 {
    background-color: #d3c9c7;
    color: #444c57;
    font-size: 1.0em; 
    padding: 5px 5px;
    text-align: center;
    font-weight: 200;
    border: 1px solid silver;
    border-radius: 20px;
    background-image: linear-gradient(to top, #d0c5c3 0%, white 90%)

}
#numberUser2 {
    background-color: #d3c9c7;
    color: #444c57;
    font-size: 1.0em; 
    padding: 5px 5px;
    text-align: center;
    font-weight: 200;
    border: 1px solid silver;
    border-radius: 20px;
    background-image: linear-gradient(to top, #d0c5c3 0%, white 90%)

}
#numberUser3 {
    background-color: #d3c9c7;
    color: #444c57;
    font-size: 1.0em; 
    padding: 5px 5px;
    text-align: center;
    font-weight: 200;
    border: 1px solid silver;
    border-radius: 20px;
    background-image: linear-gradient(to top, #d0c5c3 0%, white 90%)

}